<a href="https://colab.research.google.com/github/ericmuga253/Python-Data-/blob/main/Exercises_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [1]:
import pandas as pd
data={
    'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
df=pd.DataFrame(data)
print(df)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [3]:
import pandas as pd
data={
    'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
pokemon=pd.DataFrame(data)
print(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
import pandas as pd
data={
    'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
pokemon=pd.DataFrame(data)

pokemon=pokemon.reindex(columns=['name','type','HP','evolution','pokedex'])
print(pokemon)

         name   type  HP   evolution pokedex
0   Bulbasaur  grass NaN     Ivysaur     yes
1  Charmander   fire NaN  Charmeleon      no
2    Squirtle  water NaN   Wartortle     yes
3    Caterpie    bug NaN     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
import pandas as pd
data={
    'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
pokemon=pd.DataFrame(data)

pokemon=pokemon.reindex(columns=['name','type','HP','evolution','pokedex'])

pokemon['place']=['chelsea','hills','mountain','river']

print(pokemon)

         name   type  HP   evolution pokedex     place
0   Bulbasaur  grass NaN     Ivysaur     yes   chelsea
1  Charmander   fire NaN  Charmeleon      no     hills
2    Squirtle  water NaN   Wartortle     yes  mountain
3    Caterpie    bug NaN     Metapod      no     river

### Step 6. Present the type of each column

In [7]:
import pandas as pd
data={
    'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
pokemon=pd.DataFrame(data)

pokemon=pokemon.reindex(columns=['name','type','HP','evolution','pokedex'])

pokemon['place']=['chelsea','hills','mountain','river']

print(pokemon.dtypes)

name          object
type          object
HP           float64
evolution     object
pokedex       object
place         object
dtype: object

### BONUS: Create your own question and answer it.

print out only the contents of the two middle collums

In [13]:
import pandas as pd
data={
     'evolution':['Ivysaur','Charmeleon', 'Wartortle', 'Metapod'],
    'hp':[45, 39, 44, 45],
    'name':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex':['yes', 'no', 'yes', 'no'],
    'type':['grass', 'fire', 'water', 'bug']
}
df=pd.DataFrame(data)
print(df)
subset =df.iloc[:,1:3]
print(subset)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug
   hp        name
0  45   Bulbasaur
1  39  Charmander
2  44    Squirtle
3  45    Caterpie