<a href="https://colab.research.google.com/github/ericmuga253/Python-Data-/blob/main/Exercises_(9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
sliced_df=df.loc[:,'school':'guardian']
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [5]:
lambda_func=lambda x:x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [9]:
sliced_df['Mjob']=sliced_df['Mjob'].apply(lambda_func)
sliced_df['Fjob']=sliced_df['Fjob'].apply(lambda_func)
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 7. Print the last elements of the data set.

In [8]:
sliced_df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [11]:
sliced_df['mjob']=sliced_df['Fjob'].apply(lambda_func)
sliced_df['fjob']=sliced_df['Mjob'].apply(lambda_func)
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian      mjob      fjob
0    course   mother   Teacher   At_home
1    course   father     Other   At_home
2     other   mother     Other   At_home
3      home   mother  Services    Health
4      home   father     Other     Other
..      ...      ...       ...       ...
390  course    other  Services  Services
391  course   mother  Services  Services
392  course    other     Other     Other
393  course   mother     Other  Services
394  course   father   At_home     Other

[395 rows x 14 columns]

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [14]:
sliced_df['legal_drinker']=sliced_df['age'].apply(lambda x: True if x >17 else False)
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian      mjob      fjob  legal_drinker
0    course   mother   Teacher   At_home           True
1    course   father     Other   At_home          False
2     other   mother     Other   At_home          False
3      home   mother  Services    Health          False
4      home   father     Other     Other          False
..      ...      ...       ...       ...            ...
390  course    other  Services  Services           True
391  course   mother  Services  Services          False
392  course    other     Other     Other           True
393  course   mother     Other  Services           True
394  course   father   At_home     Other           True

[395 rows x 15 columns]

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [15]:
sliced_df.applymap(lambda x: x*10 if type(x)==int else x)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,mjob,fjob,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,Teacher,At_home,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,Other,At_home,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,Other,At_home,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,Services,Health,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,Other,Other,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,Services,Services,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,Services,Services,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,Other,Other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,Other,Services,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,At_home,Other,True

In [17]:
sliced_df.apply(lambda x: x*10 if type(x)==int else x)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,mjob,fjob,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,Teacher,At_home,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,Other,At_home,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,Other,At_home,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,Services,Health,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,Other,Other,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,Services,Services,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,Services,Services,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,Other,Other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,Other,Services,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,At_home,Other,True