<a href="https://colab.research.google.com/github/ericmuga253/Python-Data-/blob/main/Exercises_(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
chipo=pd.read_csv('/content/drive/MyDrive/commissary-prices-20240417.csv')

### Step 4. How many products cost more than $10.00?

In [11]:
import pandas as pd

# Convert 'price' column to numeric data type
chipo['price'] = pd.to_numeric(chipo['price'], errors='coerce')

# Filter rows where the price is above $10
prices_above_10 = chipo[chipo['price'] > 10]

# Display the filtered DataFrame
print(prices_above_10)

Empty DataFrame
Columns: [state, product_category, product_type, description, price, price_source]
Index: []

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [17]:
item_name_df=chipo[['product_type','price']]
print(item_name_df)

          product_type  price
0                Ramen    NaN
1                Ramen    NaN
2                Beans    NaN
3                Beans    NaN
4        Peanut Butter    NaN
...                ...    ...
2256  Hair Conditioner    NaN
2257  Hair Conditioner    NaN
2258           Relaxer    NaN
2259      Electric Fan    NaN
2260      Electric Fan    NaN

[2261 rows x 2 columns]

### Step 6. Sort by the name of the item

In [18]:
sorted_chipo=chipo.sort_values(by='product_type')
print(sorted_chipo)

               state product_category product_type  \
720         Kentucky             Food        Beans
815         Maryland             Food        Beans
2127   West Virginia             Food        Beans
2128   West Virginia             Food        Beans
1799  South Carolina             Food        Beans
...              ...              ...          ...
158         Colorado        Religious     Yarmulke
1795  South Carolina        Religious     Yarmulke
421            Idaho        Religious     Yarmulke
1988        Virginia        Religious     Yarmulke
1170          Nevada        Religious     Yarmulke

                                       description  price price_source
720   SAN MIGUEL REFRIED BEANS WITH JALAPENOS 8 OZ    NaN    Statewide
815            SELVILLA REFRIED BEANS REGULAR 8 OZ    NaN    Statewide
2127       BACK COUNTRY CHILI WITH BEANS, 11.25 OZ    NaN    Statewide
2128    BACK COUNTRY CHICKEN CHILI WITH BEANS 8 OZ    NaN    Statewide
1799                            RED BEANS AND RICE    NaN    Statewide
...                                            ...    ...          ...
158                                YARMULKE, WHITE    NaN    Statewide
1795                           YARMULKE CAP, BLACK    NaN    Statewide
421                       SKULL CAP/YARMULKE (WHT)    NaN    Statewide
1988                              YARMULKE - WHITE    NaN    Statewide
1170             SKULL CAP YARMULKE - WHITE, BLACK    NaN    Statewide

[2261 rows x 6 columns]

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?